body {
  text-align: center;
}

main {
  display: inline-block;
  margin-top: 30px;
}

.calculator {
  align-items: center;
  background-color: rgb(24, 23, 29);
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
}

.display {
  background-color: rgb(133, 147, 148);
  border: 2px solid rgb(14, 31, 49);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}

.main-display {
  text-align: right;
}

.operations-display {
  font-size: 20px;
  height: 20px;
}

.mutators {
  align-self: flex-end;
}

.basic-mode, .scientific-mode {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  outline: none;
  padding: 3px 8px;
}

.selected {
  color: white;
  border: 2px solid rgb(254, 135, 27);
  border-radius: 5px;
}

.keyboard {
  border-top: 3px solid rgb(238, 236, 242);
  display: flex;
  flex-direction: row-reverse;
  padding-top: 50px;
  margin-top: 20px;
}

.basic {
  display: grid;
  grid: repeat(5, 75px) / repeat(5, 100px);
}

.scientific {
  display: none;
  grid: repeat(5, 75px) / repeat(4, 100px);
  margin-right: 10px;
}

.key, #plus-minus {
  background-color: rgb(14, 12, 15);
  border: 1px solid black;
  border-radius: 10px;
  color: rgb(238, 236, 242);
  font-size: 2em;
  outline: none;
}

.key:hover,  #plus-minus:hover {
  border: 2px solid rgb(254, 135, 27);
  color: rgb(254, 135, 27);
}

.key:active {
  transform: scale(0.95);
}

.key-active {
  border: 2px solid rgb(254, 135, 27);
  color: rgb(254, 135, 27);
  transform: scale(0.95);
}

.op.key, #eq {
  background-color: rgb(67, 64, 73);
  color: rgb(241, 240, 242);
}

#ac, #c {
  background-color: rgb(254, 135, 27);
  color: rgb(25, 0, 3);
}